.gallery-style {
    height: 415px;
    max-width: 1240px;
    width: 100%;
    position: relative;
}

.gallery-style img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    overflow: hidden;
}

.gallery-style .button {
    position: absolute;
    top: 184px;
    font-weight: 700;
    font-size: 47px;
    color: white;
    transform: scale(1, 2);
}

.gallery-style .button:hover {
    cursor: pointer;
}

.gallery-style .previous {
    left: 23px;
}

.gallery-style .next {
    right: 23px;
}

.gallery-style p {
    position: absolute;
    width: 8%;
    text-align: center;
    bottom: 20px;
    left: 46%;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

@media (max-width: 768px) {
    .gallery-style {
        height: 255px;
    }
    .gallery-style img {
        border-radius: 10px;
    }
    .gallery-style .button {
        top: 117px;
        font-weight: 400;
        font-size: 20px;
    }
    .gallery-style .previous {
        left: 6px;
    }
    .gallery-style .next {
        right: 6px;
    }
    .gallery-style p {
        display: none;
    }
}
