.error-main {
    width: 100vw;
    max-width: min(1440px, 100%);
    padding: 169px 0 159px 0;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    text-align: center;
    color: #ff6060;
}
.error-main > * {
    grid-column-start: 2;
}
.error-main h1 {
    margin-bottom: 66px;
    font-weight: 700;
    font-size: 288px;
}
.error-main p {
    margin-bottom: 182px;
    font-weight: 500;
    font-size: 36px;
}
.error-main a {
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
}
@media (max-width: 768px) {
    .error-main {
        padding: 195px 0 235px 0;
        grid-template-columns: 20px 1fr 20px;
    }
    .error-main h1 {
        margin-bottom: 11px;
        font-size: 96px;
    }
    .error-main p {
        margin-bottom: 133px;
        font-size: 18px;
    }
    .error-main a {
        font-size: 14px;
    }
}
