@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700");

html * {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Montserrat";
}

a {
    color: unset;
    text-decoration: unset;
}

a:hover {
    color: unset;
    text-decoration: unset;
}

a:visited {
    color: unset;
    text-decoration: unset;
}

ul {
    list-style-type: none;
}

button,
button:focus {
    outline: unset;
    background: unset;
    border: unset;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
